.fab{
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 100;
}
.main-circle{
  width: 56px;
  height: 56px;
  border-radius: 50%;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,1);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.fab-menu{
  padding: 0px;
  list-style-type: none;
}
.fab-circle{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: blue;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,1);
  cursor: pointer;
  transform: scale(0.4) translateY(50px);
  opacity: 0;
  transition: .25s ease-in-out;
  visibility: hidden;
}
.active-fab-link{
  visibility: visible;
  transform: scale(1) translateY(0px);
  opacity: 1;
}
